.logincontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.generalLoginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 290px;
}
.generalLoginForm > h2 {
    text-align: center;
    color: rgb(32, 49, 137);
    margin: 0;
}

.adminSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}