.full-width {
  width: 100%;
}

.option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .option-img {
  margin-right: 0;
  margin-left: 8px;
}

:ng-deep .mdc-text-field--filled{
  background-color: none !important;
  border-radius: 10px;
}
