<main class="register-container">
  <div class="card">
    <section class="card-header">
      <h2>Registro</h2>
    </section>
    <section class="card-body">
      <form (ngSubmit)="onRegister()" ngNativeValidate>
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombres</label>
          <input type="text" name="nombres" id="inputName" [(ngModel)]="registerData.nombres" class="form-control" placeholder="Pepito" required>
        </div>
        <div class="mb-3">
          <label for="inputLastName" class="form-label">Apellidos</label>
          <input type="text" name="apellidos" id="inputLastName" [(ngModel)]="registerData.apellidos" class="form-control" placeholder="Perez" required>
        </div>
        <div class="mb-3">
          <label for="inputDocumentNumber" class="form-label">Número documento</label>
          <input type="text" name="numeroDocumento" id="inputDocumentNumber" [(ngModel)]="registerData.numeroDocumento" class="form-control" placeholder="1234567890" required>
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Correo Electrónico</label>
          <input [(ngModel)]="registerData.email" name="email" type="email" class="form-control" id="inputEmail" placeholder="nombre@ejemplo.com" required>
          @if(errorMessage.length > 0){
            <div>
              {{errorMessage}}
            </div>
          }
        </div>
        <div class="mb-3">
          <label for="inputTel" class="form-label">Telefono</label>
          <input [(ngModel)]="registerData.telefono" name="telefono" type="tel" class="form-control" id="inputTel" placeholder="1234567890">
        </div>
        <div class="mb-3">
          <label for="inputCompanyName" class="form-label">Nombre de la empresa</label>
          <input type="text" name="companyName" id="inputCompanyName" [(ngModel)]="registerData.companyName" class="form-control" placeholder="Ex. Microsoft" required>
        </div>
        <div class="mb-3">
          <select-country (countrySelected)="onCountrySelected($event)"/>
        </div>

        <button type="submit" class="btn btn-primary">Registrarme</button>
      </form>
    </section>
  </div>
  <spinner [show]="showSpinner" [message]="spinnerMessage"></spinner>
</main>
